In [6]:
import pandas as pd
from sklearn.feature_selection import f_classif, SelectKBest
%pylab  inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
data = pd.read_csv('affair_data.csv')
y = data['affair']
X = data
del X['affair']

In [4]:
X  = pd.get_dummies(X, columns=['occupation', 'occupation_husb', 'religious'])

### Method 1

In [16]:
selector = SelectKBest(f_classif, k=5)

In [8]:
selector.fit(X,  y)

SelectKBest(k=5, score_func=<function f_classif at 0x7f743534ef28>)

In [9]:
selector.get_support(indices=True)

array([ 0,  1,  2,  3, 20])

In [10]:
X.loc[:, selector.get_support()].head()

   rate_marriage  age  yrs_married  children  religious_4.0
0              3   32          9.0         3              0
1              3   27         13.0         3              0
2              4   22          2.5         0              0
3              4   37         16.5         4              0
4              5   27          9.0         1              0

### Method 2

In [11]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

In [12]:
selector_rfe = RFE(LogisticRegression(), n_features_to_select=5)

In [13]:
selector_rfe.fit(X, y)

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
  estimator_params=None, n_features_to_select=5, step=1, verbose=0)

In [14]:
selector_rfe.get_support(indices=True)

array([ 0,  5,  9, 13, 20])

In [15]:
X.loc[:, selector_rfe.get_support()].head()

,rate_marriage,occupation_1.0,occupation_5.0,occupation_husb_3.0,religious_4.0
0,3,0,0,0,0
1,3,0,0,0,0
2,4,0,0,0,0
3,4,0,1,0,0
4,5,0,0,0,0